.box24 {
  position: relative;
  margin: 1.5rem 0;
  padding: 21px 15px;
  background: #e6f4ff;
  border-radius: 6px;
  font-size: 14.5px;
  line-height: 1.6;
  color: rgba(0,0,0,.65);
}
.box24:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}
.box24 p {
  margin: 0; 
  padding: 0;
}