blockquote.emphasis {
  margin: 0;
  position: relative;
  padding: 10px 12px;
  box-sizing: border-box;
  font-style: italic;
  color: #464646;
  border: solid 3px #3ca5d4;
  border-left-width: 50px;
}

blockquote.emphasis:before{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -55px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "“";
  font-family: sans-serif;
  color: #FFF;
  font-size: 90px;
  line-height: 1;
}

blockquote.emphasis p {
  position: relative;
  padding: 0;
  margin: 10px 0;
  z-index: 3;
  line-height: 1.7;
}

blockquote.emphasis cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}